:root {
  --color-white: #f5f5f5;
  --color-headerBackground: linear-gradient(
      transparent,
      transparent 50%,
      #00ffa2 0,
      #00ffa2 85%,
      transparent 0
    )
    no-repeat;
  --color-links: #;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  /* font-size: 112.5%; */
  line-height: 1.5;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  display: inline;
  font-family: 'Avenir Next', sans-serif;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.mainHeaderSection {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin: 0 10px;
  text-align: center;
}

.mainTitleHeading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0px 10px;
  background: var(--color-headerBackground);
}

.subTitleHeading {
  background: var(--color-headerBackground);
}

.mainNav {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}

.navbarItem {
  margin: 0 5px;
}

.linkDesign {
  color: #000;
  padding-bottom: 2px;
  background: linear-gradient(
      transparent,
      transparent calc(100% - 1.5px),
      #111110 calc(100% - 1.5px),
      #111110
    )
    no-repeat;
  transition: background-size 200ms cubic-bezier(0.46, 0, 0.06, 1);
  cursor: pointer;
  background-size: 100% 100%;
}

.linkDesign:hover {
  background-position: 100% 0;
  background-size: 0 100%;
}

.addressItem {
  display: inline-block;
}

.profilePicSection {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.profilePic {
  max-width: 90%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileDescription {
  color: grey;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 0;
}

.socialMedia {
  max-width: 35px;
  height: auto;
  padding: 5px;
  margin: 5px 0;
  filter: saturate(0%) brightness(0%);
}

.ulSkillsAndInterests {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #000;
}

.liSkillsAndInterests {
  background-color: #d1d1d1;
  padding: 5px 10px;
  margin: 5px 5px;
  border-radius: 15px;
  color: #000;
}

/* GRID MIT PROFICIENCY --> PROJECT MANAGEMENT // 
ENTREPRENEURSHIP // WEB DEVELOPMENT (FRONT-END BACK-END) */
