:root {
  --color-white: #f5f5f5;
  --color-headerBackground: linear-gradient(
      transparent,
      transparent 50%,
      #00ffa2 0,
      #00ffa2 85%,
      transparent 0
    )
    no-repeat;
  --color-links: #;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  /* font-size: 112.5%; */
  line-height: 1.5;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  display: inline;
  font-family: 'Avenir Next', sans-serif;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

.mainHeaderSection {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin: 0 10px;
  text-align: center;
}

.mainTitleHeading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0px 10px;
  background: var(--color-headerBackground);
}

.subTitleHeading {
  background: var(--color-headerBackground);
}

.mainNav {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
}

.navbarItem {
  margin: 0 5px;
  border-bottom: 1px solid #000;
  color: #000;
}

.addressItem {
  border-bottom: 1px solid #000;
  color: #000;
}

.profilePic {
  max-width: 100%;
  height: auto;
  padding: 5%;
  /* border-radius: 18px; */
  background: #fff;
}

.profileDescription {
  color: grey;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 0;
}

.socialMedia {
  max-width: 100px;
  height: auto;
  padding: 5px;
  margin: 5px 0;
  filter: saturate(0%) brightness(0%);
}
