:root {
  --color-white: #f5f5f5;
  --color-headerBackground: linear-gradient(
      transparent,
      transparent 50%,
      #00ffa2 0,
      #00ffa2 85%,
      transparent 0
    )
    no-repeat;
  --color-links: #;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  /* font-size: 112.5%; */
  line-height: 1.5;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 800px) {
  body {
    max-width: 800px;
  }
}

h1,
h2,
h3 {
  display: inline;
  font-family: 'Avenir Next', sans-serif;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}
hr {
  margin: 20px 0;
  padding: 0;
  border-style: none;
  border-top-style: solid;
  max-width: 20px;
  color: #d1d1d1;
}

.sectionMargin {
  margin: 30px 0 10px;
}

.innerSectionMargin {
  margin: 10px 0 5px;
}

.mainHeaderSection {
  margin: 0 10px;
  text-align: center;
}

.mainTitleHeading {
  font-size: 40px;
  font-weight: 700;
  background: var(--color-headerBackground);
}

@media (min-width: 800px) {
  .mainTitleHeading {
    font-size: 55px;
  }
}

.subTitleHeading {
  background: var(--color-headerBackground);
}

.mainNav {
  display: flex;
  justify-content: center;
  margin: 70px 10px 20px;
}

.navbarItem {
  margin: 0 5px;
  font-size: 13px;
}

@media (min-width: 800px) {
  .navbarItem {
    font-size: 16px;
  }
}

.linkDesign {
  color: #000;
  padding-bottom: 2px;
  background: linear-gradient(
      transparent,
      transparent calc(100% - 1.5px),
      #111110 calc(100% - 1.5px),
      #111110
    )
    no-repeat;
  transition: background-size 200ms cubic-bezier(0.46, 0, 0.06, 1);
  background-size: 100% 100%;
}

.linkDesign:hover {
  background-position: 100% 0;
  background-size: 0 100%;
}

.profilePicSection {
  text-align: center;
}

.profilePic {
  max-width: 300px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileDescription {
  color: #a7a7a7;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px 0;
}

.socialMedia {
  max-width: 35px;
  height: auto;
  padding: 5px;
  margin: 5px 0 0;
  /* filter: saturate(0%) brightness(0%); */
}

@media (min-width: 800px) {
  .competences {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}

@media (min-width: 800px) {
  .sectionSkills {
    flex-grow: 1;
    width: 33%;
  }
}

@media (min-width: 800px) {
  .sectionTechnologies {
    flex-grow: 1;
    width: 33%;
  }
}

@media (min-width: 800px) {
  .sectionInterests {
    flex-grow: 1;
    width: 33%;
  }
}

.ulSkillsTechnologiesInterests {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.liSkillsTechnologiesInterests {
  background-color: #d1d1d1;
  padding: 5px 10px;
  margin: 5px 5px;
  border-radius: 15px;
}

.ulCV {
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 5px 0 0;
}

.liCVDateItem {
  color: #a7a7a7;
}

.mainFooter {
  margin: 50px 0 10px;
  font-size: 12px;
  text-align: center;
}
