.section-margin {
  margin: 30px 0 10px;
}

.inner-section-margin {
  margin: 10px 0 5px;
}

.main-header-section {
  margin: 0 10px;
  text-align: center;
}

@media (min-width: 800px) {
  .main-header-section {
    margin: 50px 0 0;
  }
}

.navbar-main {
  display: flex;
  justify-content: center;
  margin: 70px 10px 20px;
}

@media (min-width: 800px) {
  .navbar-main {
    margin: 30px 10px 20px;
  }
}

.contact-info-margin {
  margin: 30px 0 10px;
}

@media (min-width: 800px) {
  .contact-info-margin {
    margin: 20px 0;
  }
}

.profile-pic-section {
  text-align: center;
}

@media (min-width: 800px) {
  .profile-pic-section {
    margin: 15px 0;
  }
}

@media (min-width: 800px) {
  .profile-and-contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 100px 0 30px;
  }
}

@media (min-width: 800px) {
  .competences {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}

@media (min-width: 800px) {
  .competences__skills {
    flex-grow: 1;
    width: 33%;
  }
}

@media (min-width: 800px) {
  .competences__technologies {
    flex-grow: 1;
    width: 33%;
  }
}

@media (min-width: 800px) {
  .competences__interests {
    flex-grow: 1;
    width: 33%;
  }
}

@media (min-width: 800px) {
  .bio-and-cv {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 800px) {
  .media-biography {
    flex-grow: 1;
    width: 50%;
    margin-right: 5%;
  }
}

@media (min-width: 800px) {
  .media-cv {
    flex-grow: 1;
    width: 50%;
    margin-left: 5%;
  }
}
